<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleDisplayName</key>
	<string>SoundWave</string>
	<key>CFBundleExecutable</key>
	<string>SoundWave</string>
	<key>CFBundleIdentifier</key>
	<string>com.soundwave.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SoundWave</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon60x60@2x</string>
		<string>AppIcon60x60@3x</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60@2x</string>
				<string>AppIcon60x60@3x</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>alt-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>alt-blue-120</string>
					<string>alt-blue-180</string>
				</array>
			</dict>
			<key>alt-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>alt-pink-120</string>
					<string>alt-pink-180</string>
				</array>
			</dict>
			<key>alt-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>alt-green-120</string>
					<string>alt-green-180</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Сохранение карточек треков в Фото</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
